@import "val";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Raleway:400,500&display=swap');

/*---------------------------------------------------------
* base
---------------------------------------------------------*/
html {
    font-size: 62.5%;
    background: #f3f2ee;
}

body {
    position: relative;
    width: 100%;
    line-height: 1.75;
    color: #7d8087;
    font-family: "Raleway", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

body.menu {
    overflow: hidden;
}

/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  body{
    -webkit-text-stroke-width: 0.1px;
  }
}
*/

a {
    color: #7d8087;
    text-decoration: none;
}

@media screen and (min-width: 741px) {
    a.link-dec {
        position: relative;
        display: inline-block;
    }

    a.link-dec::before {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 1px;
        background: #7d8087;
        bottom: 2px;
        left: 50%;
        -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    a.link-dec:hover::before {
        width: 100%;
    }
}

img {
    max-width: 100%;
    height: auto;
    font-size: 0;
    vertical-align: middle;
}

a img {
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

a:hover img {
    opacity: .6;
}

p:nth-of-type(n+2) {
    margin-top: 1.75em;
}


/*---------------------------------------------------------
* layout
---------------------------------------------------------*/
.wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.cf::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
}

@media screen and (min-width: 741px) {
    .sp {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .pc {
        display: none;
    }
}


/* pg-ttl
----------------------------------------*/
.pg-ttl {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 20px 40px 0;
}

@media screen and (max-width: 740px) {
    .pg-ttl {
        display: block;
        text-align: center;
        padding: 8px 0 0;
    }
}

@media screen and (min-width: 741px) {
    .pg-ttl.vertical {
        display: block;
        padding: 0;
    }
}

.pg-ttl .sec-ttl {}

.pg-ttl .catch {
    color: #6d8086;
    line-height: 1.5;
    font-size: 2.0rem;
}

@media screen and (max-width: 740px) {
    .pg-ttl .catch {
        font-size: 1.6rem;
        margin: 20px 0;
    }
}

@media screen and (min-width: 741px) {
    .pg-ttl.vertical .catch {
        margin: 30px 0 20px;
    }
}

.pg-ttl .desc {
    line-height: 2;
    margin: 0;
}

@media screen and (max-width: 740px) {
    .pg-ttl .desc {
        line-height: 1.75;
    }
}

.pg-ttl .btn-links {
    margin-top: 32px;
    margin-left: -2em;
}

@media screen and (max-width: 740px) {
    .pg-ttl .btn-links {
        margin-left: 0;
    }
}

.pg-ttl .btn-links a {
    margin: 0;
}

@media screen and (max-width: 740px) {
    .pg-ttl .btn-links a {
        margin: 0 auto;
    }
}


/* sec-ttl & line-link
----------------------------------------*/
.sec-ttl,
.line-link {
    position: relative;
    color: #5d6671;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: .15em;
}

.sec-ttl {
    font-weight: 600;
    font-size: 3.6rem;
}

@media screen and (max-width: 740px) {
    .sec-ttl {
        font-size: 2.4rem;
    }
}

.sec-ttl.center {
    text-align: center;
}

.sec-ttl.arrow::before,
.sec-ttl.arrow::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
}

.sec-ttl.arrow::before {
    height: 100px;
    top: -140px;
    left: -20px;
}

.sec-ttl.arrow::after {
    height: 10px;
    top: -50px;
    left: -18px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}


.sec-ttl span,
.line-link {
    position: relative;
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    z-index: 1;
}

.sec-ttl span {
    margin-left: -.5em;
}

.sec-ttl span::before,
.line-link::before {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    background: #000;
    left: 0;
    z-index: -1;
}

.sec-ttl span::before {
    width: 100%;
    bottom: 4px;
}

.line-link::before {
    width: 0;
    left: 50%;
    bottom: 3px;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.line-link.current::before,
.line-link:hover::before {
    width: 100%;
}

/* ライトパープル */
.sec-ttl.lp.arrow::before,
.sec-ttl.lp.arrow::after,
.sec-ttl.lp span::before,
.line-link.lp::before {
    background: #ffb6ff;
}

/* ライトブルー */
.sec-ttl.lb.arrow::before,
.sec-ttl.lb.arrow::after,
.sec-ttl.lb span::before,
.line-link.lb::before {
    background: #69deff;
}

/* ライトグリーン */
.sec-ttl.lg.arrow::before,
.sec-ttl.lg.arrow::after,
.sec-ttl.lg span::before,
.line-link.lg::before {
    background: #8ce381;
}

/* ライトレッド */
.sec-ttl.lr.arrow::before,
.sec-ttl.lr.arrow::after,
.sec-ttl.lr span::before,
.line-link.lr::before {
    background: #ff7a86;
}

/* パープル */
.sec-ttl.pu.arrow::before,
.sec-ttl.pu.arrow::after,
.sec-ttl.pu span::before,
.line-link.pu::before {
    background: #d8bdff;
}

/* オレンジ */
.sec-ttl.or.arrow::before,
.sec-ttl.or.arrow::after,
.sec-ttl.or span::before,
.line-link.or::before {
    background: #ffb45d;
}

/* ダークグリーン */
.sec-ttl.dg.arrow::before,
.sec-ttl.dg.arrow::after,
.sec-ttl.dg span::before,
.line-link.dg::before {
    background: #93a26f;
}

/* イエローグリーン */
.sec-ttl.yg.arrow::before,
.sec-ttl.yg.arrow::after,
.sec-ttl.yg span::before,
.line-link.yg::before {
    background: #d9e640;
}

/* ピンク */
.sec-ttl.pi.arrow::before,
.sec-ttl.pi.arrow::after,
.sec-ttl.pi span::before,
.line-link.pi::before {
    background: #ff95a4;
}

/* グレー */
.sec-ttl.gr.arrow::before,
.sec-ttl.gr.arrow::after,
.sec-ttl.gr span::before,
.line-link.gr::before {
    background: #90acb7;
}


/* btn
----------------------------------------*/
.btn {
    display: block;
    width: 230px;
    height: 60px;
    color: #5d6671;
    font-weight: bold;
    background: #dfe966;
    border-radius: 100px;
    box-sizing: border-box;
    margin: 40px auto 0;
    -webkit-transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    padding-top: 18px;
}

.btn:hover {
    opacity: .6;
}


/* circle-btn
----------------------------------------*/
.circle-btn {
    position: relative;
    display: block;
    width: 75px;
    height: 75px;
    background: #7693a1;
    border-radius: 100%;
}

@media screen and (max-width: 740px) {
    .circle-btn {
        width: 65px;
        height: 65px;
    }
}

.circle-btn.min {
    width: 39px;
    height: 39px;
}

.circle-btn::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 3px solid #f1f0ec;
    border-right: 3px solid #f1f0ec;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 740px) {
    .circle-btn::before {
        width: 8px;
        height: 8px;
    }
}

.circle-btn.min::before {
    width: 4px;
    height: 4px;
    border-top: 2px solid #f1f0ec;
    border-right: 2px solid #f1f0ec;
}

.circle-btn:hover::before {
    -webkit-transform: translate(-20%, -50%) rotate(45deg);
    transform: translate(-20%, -50%) rotate(45deg);
}

.circle-btn span {
    position: absolute;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .15em;
    white-space: nowrap;
    top: 50%;
    right: -20px;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

@media screen and (max-width: 740px) {
    .circle-btn span {
        font-size: 1.1rem;
        right: -10px;
    }
}

.circle-btn.min span {
    font-size: 1.2rem;
    right: -14px;
}

.circle-btn span::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    background: #7693a1;
    left: 50%;
    bottom: 0;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media screen and (min-width: 741px) {
    .circle-btn:hover span::before {
        width: 100%;
    }
}

/* ピンク */
.circle-btn.pn,
.circle-btn.pn span::before {
    background: #ff97a6;
}

/* パープル */
.circle-btn.pu,
.circle-btn.pu span::before {
    background: #dabfff;
}

/* オレンジ */
.circle-btn.or,
.circle-btn.or span::before {
    background: #f8a65e;
}

/* ダークグリーン */
.circle-btn.dg,
.circle-btn.dg span::before {
    background: #95a46f;
}


/* circle-btn
----------------------------------------*/
.btn-links {
    width: 100%;
    margin-top: 80px;
}

@media screen and (max-width: 740px) {
    .btn-links {
        margin: 64px 0 0 0;
    }
}

.btn-links li:nth-child(n+2) {
    margin-top: 20px;
}

.btn-links .circle-btn {
    margin: 0 auto;
}

/*---------------------------------------------------------
* main-view
---------------------------------------------------------*/
.main-view {
    width: 100%;
    height: 380px;
    padding-bottom: 20px;
    top: 0;
    left: 0;
}

@media screen and (max-width: 740px) {
    .main-view {
        height: 180px;
    }
}

#top .main-view {
    height: 100%;
    height: 100vh;
}

.main-view::before {
    position: fixed;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#top .main-view::before {
    height: 100%;
}

#service .main-view::before {
    height: 100%;
    background: url("../img/service-ph.jpg") center top / cover no-repeat;
}

#works .main-view::before {
    background: url("../img/works-ph.jpg") center top / cover no-repeat;
}

#news .main-view::before {
    background: url("../img/news-ph.jpg") center top / cover no-repeat;
}

#profile .main-view::before {
    background: url("../img/profile-ph.jpg") center top / cover no-repeat;
}

#work-list .main-view::before {
    background: url("../img/work-list-ph.jpg") center top / cover no-repeat;
}

#recruit .main-view::before {
    background: url("../img/recruit-ph.jpg") center top / cover no-repeat;
}

#contact .main-view::before {
    background: url("../img/contact-ph.jpg") center top / cover no-repeat;
}


/* photo-slider
----------------------------------------*/
#top .photo-slider {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#top .photo-slider li {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 5s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    z-index: -1;
}

#top .photo-slider li.current {
    opacity: 1;
    z-index: 1;
}

#top .photo-slider li.hidden {
    z-index: 0;
}


/* wrapper
----------------------------------------*/
#top .main-view .wrapper {
    position: relative;
    height: 100%;
}


/* emb
----------------------------------------*/
#top .main-view .emb {
    position: absolute;
    width: 355px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 740px) {
    #top .main-view .emb {
        width: 280px;
    }
}


/* catch
----------------------------------------*/
#top .main-view .catch {
    position: absolute;
    width: 687px;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 740px) {
    #top .main-view .catch {
        width: 90%;
    }
}


/*---------------------------------------------------------
* main-content
---------------------------------------------------------*/
.main-content {
    display: block;
    background: #f3f2ee;
    border-radius: 25px 25px 0 0;
    margin-top: -20px;
    padding: 40px 0 0;
}

#top .main-content,
#recruit .main-content {
    padding-bottom: 120px;
}

@media screen and (max-width: 740px) {
    #top .main-content {
        padding-bottom: 0;
    }

    #recruit .main-content {
        padding-bottom: 80px;
    }
}

.main-content section {
    padding: 80px 0 120px;
}

@media screen and (max-width: 740px) {
    .main-content section {
        padding: 64px 0 80px;
    }
}


/*---------------------------------------------------------
* works-list
---------------------------------------------------------*/
.works-list {
    width: 100%;
    overflow: hidden;
}

.works-list li {
    float: left;
    width: 32.5%;
    margin-top: 40px;
    margin-right: 1.2%;
}

@media screen and (max-width: 740px) {
    .works-list li {
        float: none;
        width: 90%;
        margin: 24px auto 0;
    }
}

.works-list li:nth-child(3n) {
    margin-right: 0;
}

@media screen and (max-width: 740px) {
    .works-list li:nth-child(3n) {
        margin-right: auto;
    }
}

.works-list li a {
    display: block;
}

.works-list .thumb {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.works-list .thumb::before {
    content: "";
    display: block;
    padding-top: 56.33484%;
}

.works-list .thumb img {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.works-list a:hover .thumb img {
    -webkit-transform: translate(-50%, -50%) scale(1.2);
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
}

.works-list .info {
    position: relative;
    font-family: "Montserrat", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
    margin-top: 10px;
    padding-left: 20px;
}

@media screen and (max-width: 740px) {
    .works-list .info {
        padding-left: 0;
    }
}

.works-list .info::before {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    background: #c6c6c6;
    top: 0;
    left: -2%;
}

@media screen and (max-width: 740px) {
    .works-list .info::before {
        content: none;
    }
}

.works-list .meta {
    font-size: 1.1rem;
}

.works-list .ttl {
    margin: 0;
}


/*---------------------------------------------------------
* news-top-list
---------------------------------------------------------*/
.news-top-list {
    margin-top: 40px;
}

.news-top-list li {
    display: table;
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    padding: 16px 24px;
}

@media screen and (max-width: 740px) {
    .news-top-list li {
        display: block;
    }
}

.news-top-list li:nth-child(n+2) {
    margin-top: 20px;
}

.news-top-list li p {
    display: table-cell;
}

@media screen and (max-width: 740px) {
    .news-top-list li p {
        display: block;
    }
}

.news-top-list li .date {
    width: 100px;
    color: #666;
    font-size: 1.2rem;
}

@media screen and (max-width: 740px) {
    .news-top-list li .date {
        display: inline-block;
        width: auto;
        border-bottom: 1px solid #c6c6c6;
        padding-bottom: 8px;
    }
}

.news-top-list li .title {
    color: #6d8088;
    border-left: 1px solid #c6c6c6;
    padding-left: 20px;
}

@media screen and (max-width: 740px) {
    .news-top-list li .title {
        border-left: none;
        margin-top: 8px;
        padding-left: 0;
    }
}