@import "val";

/*---------------------------------------------------------
* #contact
---------------------------------------------------------*/
#contact .contact-blk {
    max-width: 530px;
}

#contact .contact-blk p:nth-of-type(n+2) {
    margin-top: 40px;
}

#contact .contact-blk .wpcf7 {
    margin-top: 16px;
}

#contact .contact-blk .wpcf7-not-valid-tip {
    color: #ff0000;
}

#contact .contact-blk .fs12 {
    font-size: 1.2rem;
}

#contact .submit {
    display: block;
    width: 330px;
    height: 75px;
    color: #5d6671;
    font-size: 1.6rem;
    font-weight: bold;
    background: #dfe966;
    border: none;
    border-radius: 100px;
    box-sizing: border-box;
    margin: 40px auto 0;
    -webkit-transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    padding-top: 8px;
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    #contact .submit {
        width: 100%;
        height: 64px;
        padding-top: 4px;
    }
}

#contact .submit:hover {
    opacity: .6;
}

#contact .wpcf7-validation-errors {
    color: #ff0000;
    text-align: center;
    border: 2px solid #ff0000;
    margin-top: 40px;
    padding: 8px;
}

@media screen and (max-width: 740px) {
    #contact .wpcf7-validation-errors {
        text-align: left;
    }
}

#contact .wpcf7c-force-hide {
    display: none !important;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea,
#contact select {
    width: 100%;
    background: #fff;
    border: none;
    box-sizing: border-box;
    padding: 16px;
}

#contact select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}