@import "val";

/*---------------------------------------------------------
* g-footer
---------------------------------------------------------*/
.g-footer {}


/* page-top
----------------------------------------*/
.page-top {
    position: fixed;
    display: inline-block;
    width: 64px;
    height: 64px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: .15rem;
    background: #90acb7;
    border-radius: 100%;
    box-sizing: border-box;
    padding-top: 32px;
    right: 40px;
    bottom: 20px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

@media screen and (max-width: 740px) {
    .page-top {
        width: 48px;
        font-size: 1.1rem;
        padding-top: 24px;
        height: 48px;
        right: 10px;
        bottom: 10px;
    }
}

.page-top.on {
    opacity: 1;
    visibility: visible;
}

.page-top::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    top: 20px;
    left: 50%;
}

@media screen and (max-width: 740px) {
    .page-top::after {
        width: 12px;
        height: 12px;
        top: 14px;
    }
}


/* contact-box
----------------------------------------*/
.g-footer .contact-box {
    width: 100%;
    color: #fff;
    text-align: center;
    background: url("../img/footer-contact-bg.jpg") center center / cover no-repeat;
    padding: 120px 0;
}

@media screen and (max-width: 740px) {
    .g-footer .contact-box {
        padding: 64px 0;
    }
}

.g-footer .contact-box .sec-ttl {
    color: #fff;
    margin: 0 auto;
}

.g-footer .contact-box p {
    display: inline-block;
    text-align: left;
    padding-right: 80px;
    margin-top: 30px;
}

@media screen and (max-width: 740px) {
    .g-footer .contact-box p {
        text-align: center;
        padding-right: 0;
    }
}


/* info-box
----------------------------------------*/
.g-footer .info-box {
    color: #fff;
    background: #90acb7;
    padding: 80px 0;
}

@media screen and (max-width: 740px) {
    .g-footer .info-box {
        padding: 40px 20px;
    }
}

/* logo */
.g-footer .info-box .logo {
    float: left;
    display: inline-block;
}

@media screen and (max-width: 740px) {
    .g-footer .info-box .logo {
        float: none;
        display: block;
        text-align: center;
    }
}

/* links */
.g-footer .info-box .links {
    float: right;
    font-family: "Montserrat", sans-serif;
    font-size: 0;
    margin-top: 8px;
}

@media screen and (max-width: 740px) {
    .g-footer .info-box .links {
        float: none;
        text-align: center;
        margin-top: 24px;
    }
}

.g-footer .info-box .links li {
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: .15em;
}

@media screen and (max-width: 740px) {
    .g-footer .info-box .links li {
        margin-top: 16px;
    }
}

.g-footer .info-box .links li:nth-child(n+2)::before {
    content: ".";
    display: inline-block;
    font-size: 1.1rem;
    letter-spacing: .15em;
    padding: 0 .75em;
}

.g-footer .info-box .links a {
    position: relative;
    display: inline-block;
    color: #fff;
}

.g-footer .info-box .links a::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    bottom: 2px;
    left: 50%;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

@media screen and (min-width: 741px) {
    .g-footer .info-box .links a:hover::before {
        width: 100%;
    }
}

/* info-box
----------------------------------------*/
.g-footer .info-box .sns {
    clear: both;
    float: left;
    margin-top: 48px;
}

@media screen and (max-width: 740px) {
    .g-footer .info-box .sns {
        float: none;
        text-align: center;
        margin-top: 40px;
    }
}


/* copy
----------------------------------------*/
.g-footer .info-box .copy {
    float: left;
    font-size: 1.0rem;
    letter-spacing: .25em;
    margin: 54px 0 0 40px;
}

@media screen and (max-width: 740px) {
    .g-footer .info-box .copy {
        float: none;
        text-align: center;
        margin: 40px 0 0;
    }
}