@import "val";

/*---------------------------------------------------------
* #top
---------------------------------------------------------*/
/* top-logo
----------------------------------------*/
#top .top-logo {
    text-align: center;
    padding: 40px 0;
}

@media screen and (max-width: 740px) {
    #top .top-logo img {
        width: 240px;
    }
}


/* works-blk
----------------------------------------*/
#top .works-blk {
    padding: 40px 0;
}

#top .works-blk .pg-ttl {
    float: left;
    width: 50%;
}

@media screen and (max-width: 740px) {
    #top .works-blk .pg-ttl {
        float: none;
        width: auto;
    }
}

#top .works-blk .sec-ttl::before {
    content: "SCROLL";
    height: 360px;
    line-height: .5;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    letter-spacing: .2em;
    text-indent: -70px;
    top: -400px;
}

@media screen and (max-width: 740px) {
    #top .works-blk .sec-ttl::before {
        height: 250px;
        text-indent: -318px;
        top: -290px;
        left: 10px;
    }
}

#top .works-blk .sec-ttl::after {
    top: -50px;
}

@media screen and (max-width: 740px) {
    #top .works-blk .sec-ttl::after {
        left: 12px;
    }
}

#top .works-blk .btn-links {
    margin-top: 40px;
}


/* new-blk
----------------------------------------*/
#top .new-blk {
    padding-top: 40px;
}


/* message-blk
----------------------------------------*/
#top .message-blk {
    position: relative;
    background: #fff;
    padding: 80px 0 0;
    z-index: 0;
}

@media screen and (max-width: 740px) {
    #top .message-blk {
        padding-top: 0;
    }

    #top .message-blk .sec-ttl::before {
        left: 50%;
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }

    #top .message-blk .sec-ttl::after {
        left: 50%;
        -webkit-transform: translateX(-118px) rotate(30deg);
        transform: translateX(-118px) rotate(30deg);
    }
}

#top .message-blk::before,
#top .message-blk::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
}

#top .message-blk::before {
    width: 59.33823%;
    background: url("../img/top-message-bg1.svg") left top / 100% auto no-repeat;
    padding-top: 33.0147%;
    top: 0;
    right: 0;
}

@media screen and (max-width: 740px) {
    #top .message-blk::before {
        width: 100%;
        padding-top: 50%;
        top: 220px;
    }
}

#top .message-blk::after {
    width: 48%;
    width: 50.2205%;
    background: url("../img/top-message-bg2.svg") left bottom / 100% auto no-repeat;
    padding-top: 0.9558%;
    bottom: 0;
    left: 0;
}

#top .message-blk .pg-ttl,
#top .message-blk .blk-ttl,
#top .message-blk .l-box {
    float: left;
}

@media screen and (max-width: 740px) {

    #top .message-blk .pg-ttl,
    #top .message-blk .blk-ttl,
    #top .message-blk .l-box {
        float: none;
    }
}

#top .message-blk .pg-ttl {
    margin-top: 80px;
}

@media screen and (max-width: 740px) {
    #top .message-blk .pg-ttl {
        margin-top: 0;
    }
}

#top .message-blk .photo,
#top .message-blk .r-box {
    float: right;
}

@media screen and (max-width: 740px) {

    #top .message-blk .photo,
    #top .message-blk .r-box {
        float: none;
    }
}

#top .message-blk .photo {
    width: 58.18181%;
}

@media screen and (max-width: 740px) {
    #top .message-blk .photo {
        width: auto;
    }
}

#top .message-blk .blk-ttl {
    position: relative;
    color: #ff7a88;
    font-size: 2.4rem;
    margin-top: 20px;
}

@media screen and (max-width: 740px) {
    #top .message-blk .blk-ttl {
        font-size: 1.8rem;
        text-align: center;
    }
}

#top .message-blk .bt-blk {
    position: relative;
    width: 90%;
    background: #fff;
    padding-top: 40px;
    top: -64px;
    z-index: 1;
}

@media screen and (max-width: 740px) {
    #top .message-blk .bt-blk {
        position: static;
        width: auto;
        padding-top: 20px;
    }
}

#top .message-blk .l-box {
    width: 45%;
}

@media screen and (max-width: 740px) {
    #top .message-blk .l-box {
        width: auto;
    }
}

#top .message-blk .r-box {
    width: 55%;
}

@media screen and (max-width: 740px) {
    #top .message-blk .r-box {
        width: auto;
        margin-top: 1.75em;
    }
}


/* news-blk
----------------------------------------*/
#top .news-blk {}

#top .news-blk {
    padding-top: 40px;
}

@media screen and (max-width: 740px) {
    #top .news-blk {
        padding-top: 0;
    }
}

#top .news-blk .sec-ttl::before {
    left: 50%;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
}

#top .news-blk .sec-ttl::after {
    left: 50%;
    -webkit-transform: translateX(-198px) rotate(30deg);
    transform: translateX(-198px) rotate(30deg);
}


/* service-blk
----------------------------------------*/
#top .service-blk {
    background: #fff;
}

#top .service-blk {
    padding-top: 40px;
}

@media screen and (max-width: 740px) {
    #top .service-blk {
        padding-top: 0;
    }

    #top .service-blk .sec-ttl::before {
        left: 50%;
        -webkit-transform: translateX(-120px);
        transform: translateX(-120px);
    }

    #top .service-blk .sec-ttl::after {
        left: 50%;
        -webkit-transform: translateX(-118px) rotate(30deg);
        transform: translateX(-118px) rotate(30deg);
    }
}

#top .service-blk .pg-ttl {
    float: right;
    margin-top: 80px;
}

@media screen and (max-width: 740px) {
    #top .service-blk .pg-ttl {
        float: none;
        margin-top: 0;
    }
}

#top .service-blk .img-box {
    float: left;
}

@media screen and (max-width: 740px) {
    #top .service-blk .img-box {
        float: none;
        margin-bottom: 20px;
    }
}


/* profile-blk
----------------------------------------*/
#top .profile-blk {
    position: relative;
    background: #bbb9b3;
    padding-top: 40px;
    z-index: 0;
}

@media screen and (max-width: 740px) {
    #top .profile-blk {
        padding-top: 0;
    }

    #top .profile-blk .sec-ttl::before {
        left: 50%;
        -webkit-transform: translateX(-110px);
        transform: translateX(-110px);
    }

    #top .profile-blk .sec-ttl::after {
        left: 50%;
        -webkit-transform: translateX(-108px) rotate(30deg);
        transform: translateX(-108px) rotate(30deg);
    }
}

#top .profile-blk::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    background: url("../img/top-profile-bg.svg") left top / 100% 100% no-repeat;
    top: 0;
    left: 24%;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #top .profile-blk::before {
        width: 100%;
        height: auto;
        background-position: right top;
        background-size: auto 100%;
        padding-top: 72.53333%;
        top: 174px;
        left: auto;
    }
}

#top .profile-blk,
#top .profile-blk .sec-ttl,
#top .profile-blk .catch,
#top .profile-blk .circle-btn {
    color: #fff;
}

#top .profile-blk .pg-ttl {
    float: left;
    margin-top: 80px;
}

@media screen and (max-width: 740px) {
    #top .profile-blk .pg-ttl {
        float: none;
        margin-top: 0;
    }
}

#top .profile-blk .img-box {
    float: right;
    width: 58.18181%;
}

@media screen and (max-width: 740px) {
    #top .profile-blk .img-box {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
}


/* recruit-blk
----------------------------------------*/
#top .recruit-blk {
    position: relative;
    background: #fff;
    padding-top: 40px;
    z-index: 0;
}

@media screen and (max-width: 740px) {
    #top .recruit-blk {
        padding-top: 0;
    }

    #top .recruit-blk .sec-ttl::before {
        left: 50%;
        -webkit-transform: translateX(-110px);
        transform: translateX(-110px);
    }

    #top .recruit-blk .sec-ttl::after {
        left: 50%;
        -webkit-transform: translateX(-108px) rotate(30deg);
        transform: translateX(-108px) rotate(30deg);
    }
}

#top .recruit-blk::before {
    content: "";
    position: absolute;
    display: block;
    height: 90%;
    background: url("../img/top-recruit-bg.svg") left bottom / auto 100% no-repeat;
    bottom: 0;
    left: 0;
    right: 35%;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #top .recruit-blk::before {
        width: 100%;
        height: auto;
        background-position: right top;
        padding-top: 73.06666%;
        top: 174px;
        bottom: auto;
    }
}

#top .recruit-blk .pg-ttl {
    float: right;
    margin-top: 80px;
}

@media screen and (max-width: 740px) {
    #top .recruit-blk .pg-ttl {
        float: none;
        margin-top: 0;
    }
}

#top .recruit-blk .img-box {
    float: left;
    width: 58.18181%;
}

@media screen and (max-width: 740px) {
    #top .recruit-blk .img-box {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
}


/* access-blk
----------------------------------------*/
#top .access-blk {
    position: relative;
    padding-top: 40px;
    z-index: 1;
}

@media screen and (max-width: 740px) {
    #top .access-blk {
        padding-top: 0;
    }

    #top .access-blk .sec-ttl::before {
        left: 50%;
        -webkit-transform: translateX(-110px);
        transform: translateX(-110px);
    }

    #top .access-blk .sec-ttl::after {
        left: 50%;
        -webkit-transform: translateX(-108px) rotate(30deg);
        transform: translateX(-108px) rotate(30deg);
    }
}

#top .access-blk::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 110%;
    background: url("../img/top-access-bg.svg") right top / auto 100% no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #top .access-blk::before {
        width: 98%;
        height: auto;
        background-position: left top;
        padding-top: 121.6%;
        top: 0;
        bottom: auto;
    }
}

#top .access-blk .pg-ttl {
    float: left;
    margin-top: 10px;
}

@media screen and (max-width: 740px) {
    #top .access-blk .pg-ttl {
        float: none;
        margin-top: 0;
    }
}

#top .access-blk .address {
    line-height: 2;
    font-family: "Montserrat", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

#top .access-blk .img-box {
    float: right;
    width: 58.18181%;
}

@media screen and (max-width: 740px) {
    #top .access-blk .img-box {
        float: none;
        width: auto;
        margin-bottom: 20px;
    }
}