@import "val";

/*---------------------------------------------------------
* #profile
---------------------------------------------------------*/
#profile .infomation-blk,
#profile .history-blk,
#profile .activity-blk,
#profile .other-company-blk {
    position: relative;
    border-radius: 25px 25px 0 0;
    z-index: 0;
}

#profile .history-blk,
#profile .activity-blk,
#profile .other-company-blk {
    margin-top: -20px;
}

#profile .infomation-blk::before,
#profile .infomation-blk::after,
#profile .history-blk::before,
#profile .history-blk::after,
#profile .activity-blk::before,
#profile .activity-blk::after,
#profile .other-company-blk::before,
#profile .other-company-blk::after {
    content: "";
    position: absolute;
    display: block;
}

#profile .infomation-blk .wrapper,
#profile .history-blk .wrapper,
#profile .activity-blk .wrapper,
#profile .other-company-blk .wrapper {
    max-width: 830px;
}


/* list
----------------------------------------*/
#profile .list {
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
    margin-top: 64px;
}

#profile .list dt,
#profile .list dd {
    box-sizing: border-box;
    padding: 16px 8px;
}

@media screen and (max-width: 740px) {
    #profile .list dt {
        opacity: .7;
        padding-bottom: 8px;
    }

    #profile .list dd {
        padding-top: 0;
    }
}

#profile .list dt:nth-of-type(n+2),
#profile .list dd:nth-of-type(n+2) {
    border-top: 1px solid #c6c6c6;
}

@media screen and (max-width: 740px) {
    #profile .list dd:nth-of-type(n+2) {
        border-top: none;
    }
}

#profile .list dt {
    clear: both;
    float: left;
    width: 110px;
}

@media screen and (max-width: 740px) {
    #profile .list dt {
        float: none;
        width: auto;
    }
}

#profile .list dd {
    float: right;
    width: 81.92771%;
    max-width: 680px;
}

@media screen and (max-width: 740px) {
    #profile .list dd {
        float: none;
        width: auto;
        max-width: none;
    }
}


/* information-blk
----------------------------------------*/
#profile .infomation-blk {
    color: #fff;
    background: #bbb9b3;
    margin-top: 64px;
}

#profile .infomation-blk::before {
    width: 652px;
    height: 363px;
    background: url("../img/profile-bg1.svg") left top / 100% auto no-repeat;
    top: 150px;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #profile .infomation-blk::before {
        width: 60%;
        height: auto;
        padding-top: 55.67484%;
    }
}

#profile .infomation-blk::after {
    width: 502px;
    height: 900px;
    background: url("../img/profile-bg2.svg") left top / auto 100% no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #profile .infomation-blk::after {
        width: 30%;
        height: auto;
        padding-top: 179.28286%;
    }
}

#profile .infomation-blk .sec-ttl {
    color: #fff;
}

#profile .infomation-blk .l-box {
    float: left;
}

@media screen and (max-width: 740px) {
    #profile .infomation-blk .l-box {
        float: none;
    }
}

#profile .infomation-blk .r-box {
    float: left;
    margin: 0;
    margin-left: 4em;
}

@media screen and (max-width: 740px) {
    #profile .infomation-blk .r-box {
        float: none;
        margin: 0;
    }
}


/* history-blk
----------------------------------------*/
#profile .history-blk {
    background: #f3f2ee;
}

#profile .history-blk::before {
    width: 547px;
    height: 1094px;
    background: url("../img/profile-bg3.svg") left top / 100% auto no-repeat;
    top: 100px;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #profile .history-blk::before {
        width: 40%;
        height: auto;
        padding-top: 200%;
    }
}

#profile .history-blk::after {
    width: 220px;
    height: 877px;
    background: url("../img/profile-bg4.svg") left top / 100% auto no-repeat;
    top: 250px;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #profile .history-blk::after {
        width: 20%;
        height: auto;
        padding-top: 398.63636%;
    }
}


/* activity-blk
----------------------------------------*/
#profile .activity-blk {
    color: #fff;
    background: #90acb7;
}

#profile .activity-blk .sec-ttl {
    color: #fff;
}

#profile .activity-blk::before {
    width: 69px;
    height: 1686px;
    background: url("../img/profile-bg5.svg") left top / 100% auto no-repeat;
    top: 80px;
    left: 0;
    z-index: -1;
}

#profile .activity-blk::after {
    width: 1063px;
    height: 1979px;
    background: url("../img/profile-bg6.svg") right bottom / 100% auto no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #profile .activity-blk::after {
        width: 80%;
        height: auto;
        padding-top: 186.17121%;
    }
}


/* other-company-blk
----------------------------------------*/
#profile .other-company-blk {
    background: #f3f2ee;
}

#profile .other-company-blk::before {
    width: 80px;
    height: 420px;
    background: url("../img/profile-bg7.svg") left top / 100% auto no-repeat;
    top: 100px;
    left: 0;
    z-index: -1;
}

#profile .other-company-blk::after {
    width: 636px;
    height: 274px;
    background: url("../img/profile-bg8.svg") left bottom / 100% auto no-repeat;
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 740px) {
    #profile .other-company-blk::after {
        width: 80%;
        height: auto;
        padding-top: 43.081761%;
    }
}

#profile .other-company-blk .list dt {
    width: 30%;
}

@media screen and (max-width: 740px) {
    #profile .other-company-blk .list dt {
        width: auto;
    }
}

#profile .other-company-blk .list dd {
    width: 70%;
    max-width: none;
    font-family: "Raleway", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

@media screen and (max-width: 740px) {
    #profile .other-company-blk .list dd {
        width: auto;
    }
}