@import "val";

/*---------------------------------------------------------
* #works
---------------------------------------------------------*/
/* moviebox
----------------------------------------*/
#works .moviebox {
    position: relative;
    width: 100%;
    margin-top: 80px;
}

#works .moviebox::before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

#works .moviebox video,
#works .moviebox .thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#works .moviebox video {
    z-index: 0;
}

#works .moviebox .thumb {
    z-index: 1;
}

#works .moviebox .moviebtn {
    position: absolute;
    display: block;
    width: 102px;
    height: 71px;
    background: url("../img/moviebtn.png") center center no-repeat;
    top: 50%;
    left: 50%;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
}

#works .moviebox .moviebtn:hover {
    opacity: .6;
}


/* movieinfo
----------------------------------------*/
#works .movieinfo {
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    margin: 64px auto;
}

@media screen and (max-width: 740px) {
    #works .movieinfo {
        margin: 24px 20px;
    }
}

#works .movieinfo::before,
#works .movieinfo::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 94px;
    background: #c6c6c6;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#works .movieinfo::before {
    left: 0;
}

#works .movieinfo::after {
    right: 0;
}

#works .movieinfo .ttl {
    position: relative;
    line-height: 1.5;
    color: #6d8086;
    font-size: 2.0rem;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

@media screen and (max-width: 740px) {
    #works .movieinfo .ttl {
        font-size: 1.6rem;
    }
}

#works .movieinfo .ttl::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #c6c6c6;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

#works .movieinfo .date {
    font-size: 1.0rem;
    letter-spacing: .15em;
    margin: 0;
}

#works .movieinfo .url {
    margin: 12px 0 0;
}


/* movieinfo
----------------------------------------*/
#works .details-blk {
    padding-top: 0;
}