@import "val";

/*---------------------------------------------------------
* #work-list
---------------------------------------------------------*/
#work-list .sec-ttl {
    margin: 40px auto 80px;
}

@media screen and (max-width: 740px) {
    #work-list .sec-ttl {
        margin: 8px auto 48px;
    }
}

#work-list .work-list-blk {
    position: relative;
    font-family: "Montserrat", sans-serif;
    background: #fff;
    border-radius: 25px 25px 0 0;
    z-index: 0;
}

#work-list .work-list-blk::before,
#work-list .work-list-blk::after {
    content: "";
    position: absolute;
    display: block;
    z-index: -1;
}

#work-list .work-list-blk::before {
    width: 61px;
    height: 374px;
    background: url("../img/work-list-bg1.svg") left top / 100% auto no-repeat;
    top: 400px;
    left: 0;
}

#work-list .work-list-blk::after {
    width: 83px;
    background: url("../img/work-list-bg2.svg") right top / auto 100% no-repeat;
    top: 40%;
    bottom: 0;
    right: 0;
}


/* content
----------------------------------------*/
#work-list .content {
    margin: 80px 0;
    padding: 0 80px;
}

@media screen and (max-width: 740px) {
    #work-list .content {
        padding: 0 20px;
    }
}

#work-list .content dt {
    position: relative;
    color: #ff7a88;
    margin-bottom: 8px;
}

#work-list .content dt::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background: #ff7a88;
    top: 11px;
    left: -40px;
}

@media screen and (max-width: 740px) {
    #work-list .content dt::before {
        width: 20px;
        left: -30px;
    }
}

#work-list .content dt:nth-of-type(n+2) {
    margin-top: 3em;
}


/* nav-box
----------------------------------------*/
#work-list .nav-box {
    display: table;
    width: 100%;
    color: #5d6671;
    font-size: 2.4rem;
    letter-spacing: .15em;
}

@media screen and (max-width: 740px) {
    #work-list .nav-box {
        font-size: 1.6rem;
    }
}

#work-list .nav-box li {
    display: table-cell;
    vertical-align: bottom;
}

/* prev & next */
#work-list .nav-box .prev {
    text-align: left;
    padding-left: 40px;
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .prev {
        padding-left: 20px;
    }
}

#work-list .nav-box .next {
    text-align: right;
    padding-right: 40px;
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .next {
        padding-right: 20px;
    }
}

#work-list .nav-box .prev a,
#work-list .nav-box .next a {
    position: relative;
    display: inline-block;
}

#work-list .nav-box .prev a::before,
#work-list .nav-box .next a::before,
#work-list .nav-box .prev a::after,
#work-list .nav-box .next a::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background: #c4c4c4;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#work-list .nav-box .prev a::before,
#work-list .nav-box .next a::before {
    width: 30px;
    bottom: 14px;
}

@media screen and (max-width: 740px) {

    #work-list .nav-box .prev a::before,
    #work-list .nav-box .next a::before {
        width: 15px;
    }
}

#work-list .nav-box .prev a::after,
#work-list .nav-box .next a::after {
    width: 14px;
    bottom: 19px;
}

@media screen and (max-width: 740px) {

    #work-list .nav-box .prev a::after,
    #work-list .nav-box .next a::after {
        width: 7px;
        bottom: 17px;
    }
}

#work-list .nav-box .prev a::before {
    left: -10px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media screen and (min-width: 741px) {
    #work-list .nav-box .prev a:hover::before {
        left: -20px;
    }
}

#work-list .nav-box .next a::before {
    right: -10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

@media screen and (min-width: 741px) {
    #work-list .nav-box .next a:hover::before {
        right: -20px;
    }
}

#work-list .nav-box .prev a::after {
    left: -29px;
    -webkit-transform: translateX(-100%) rotate(-45deg);
    transform: translateX(-100%) rotate(-45deg);
}

@media screen and (min-width: 741px) {
    #work-list .nav-box .prev a:hover::after {
        left: -39px;
    }
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .prev a::after {
        left: -18px;
    }
}

#work-list .nav-box .next a::after {
    right: -29px;
    -webkit-transform: translateX(100%) rotate(45deg);
    transform: translateX(100%) rotate(45deg);
}

@media screen and (min-width: 741px) {
    #work-list .nav-box .next a:hover::after {
        right: -39px;
    }
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .next a::after {
        right: -18px;
    }
}

/* item & select */
#work-list .nav-box .item {
    color: #7695a3;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: .15em;
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .item {
        font-size: 1.1rem;
    }
}

#work-list .nav-box .select-box {
    position: relative;
    width: 158px;
    margin: 10px auto 0;
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .select-box {
        width: auto;
        margin-top: 4px;
    }
}

#work-list .nav-box .select-box .label {
    position: relative;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    border-bottom: 2px solid #c6c6c6;
    box-sizing: border-box;
    margin-bottom: 12px;
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    #work-list .nav-box .select-box .label {
        height: 20px;
        margin-bottom: 8px;
    }
}

#work-list .nav-box .select-box .label::before {
    content: "";
    position: absolute;
    border: 4px solid transparent;
    border-top: 4px solid #5d6671;
    top: 60%;
    right: 10px;
    opacity: .5;
}

#work-list .nav-box .select-box select {
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    border: none;
    border: 1px solid #c6c6c6;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* year-table
----------------------------------------*/
#work-list .year-table {
    margin-top: 40px;
}

#work-list .year-table li {
    float: left;
    width: 12.5%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 40px;
}

@media screen and (max-width: 740px) {
    #work-list .year-table li {
        width: 25%;
        margin-top: 24px;
    }
}

#work-list .year-table li a {
    color: #5d6671;
    opacity: .5;
    -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#work-list .year-table li a:hover,
#work-list .year-table li a.current {
    opacity: 1;
}